<a href="https://colab.research.google.com/github/Chelsea-Magleo/DSA-58011/blob/main/Python_Array_Module.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Example 1

In [26]:
import array
array.typecodes #get all typecodes
a = array.array('i', [1,2,3,4,5,6]) #initializing array a
b = array.array('f', [1.5,2.5,3.5,4.5,5.5,6.5,7.5,8.5,9.5,10.5]) #initializing array b
print(a.typecode) #getting the typecode of a
print(b.typecode) #getting the typecode of b

i
f

Example 2: Create an array of elements of float/decimal number

In [49]:
import numpy as np
rounded_array = np.round([1.5,2.5,3.5,4.5,5.5,6.5,7.5,8.5,9.5,10.5], decimals=1)
print(rounded_array)

[ 1.5  2.5  3.5  4.5  5.5  6.5  7.5  8.5  9.5 10.5]

Example 2

In [27]:
a = array.array('f',[1,2,3,4,5,6,7,8,9,10])
print(a)

array('f', [1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0])

Insert an element: 11 to the first index of the array a

In [30]:
a.insert(0,11)
print(a)

b[-1] = 12
print(b)

array('f', [11.0, 11.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0])
array('f', [1.5, 2.5, 3.5, 4.5, 5.5, 6.5, 7.5, 8.5, 9.5, 12.0])

In [31]:
a.insert(0,11)
print(a)
b.insert(-1,11)
print(b)

array('f', [11.0, 11.0, 11.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0])
array('f', [1.5, 2.5, 3.5, 4.5, 5.5, 6.5, 7.5, 8.5, 9.5, 11.0, 12.0])

What is the output of these codes?

In [36]:
from array import array #importing array from array module
a = array('i',[4,5,6,7]) #initializing array
a.insert(1,2) #insert element: 2 at index: 1
a #printing array a
array('i',[4,2,5,6,7])
a.insert(-1,0) #insert element: 0 at index: -1
a
a.insert(10,-1) #insert element:-1 at index:10, this is out of range
a
array('i', [4,2,5,6,0,7,-1])

array('i', [4, 2, 5, 6, 0, 7, -1])

In [44]:
import array
a = array.array('i',[1,2,3,4,5,6,7,8,9,10])
print(a)
a.insert(10,-1) #out of range
print(a)

array('i', [1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
array('i', [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, -1])

Example 3

In [51]:
#Node class
class Node:
  #function to initialize the node object
  def __init__(self, data):
    self.data = data #Assign data
    self.next = None #Initialize
    #next as null

  #Linked List class
  class LinkedList:

    #Function to initialized the Linked
    #List object
    def __init__(self):
      self.head = None

Example 4: Linked Lists

In [64]:
#A simple Python program to introduce a linked list
#Node class
class Node:
   #Function to initialized the node object
   def __init__(self, data):
     self.data = data #Assign data
     self.next = None #Initialized next as null

#Linked list class contains a Node object
class LinkedList:

    #Function to initialized head
    def __init__(self):
      self.head = None #Initialized the head of the Node
    def printList(self):
      temp = self.head
      while(temp):
        print(temp.data)
        temp = temp.next

#Code execution starts here
if __name__=='__main__':

    #Start with the empty list
    llist = LinkedList()
    llist.head = Node(1)
    second = Node(2)
    third = Node(3)

llist.head.next = second; #Link first node with second
second.next = third; #Link second node with the third node

print(llist)
llist.printList()

<__main__.LinkedList object at 0x7f183dffad10>
1
2
3